Example 1

In [2]:
x = 5
y = 'John'
print(x)
print(y)

5
John

Example 2

In [4]:
x = 4       #x is of type int
x = "Sally" #x is now of type str
print(x)

Sally

Example 3

In [ ]:
x=str(3) #x will be '3'
y=int(3) #y will be 3
z=float(3) #z will be 3.0

Example 4

In [6]:
x=5
y='John'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Example 5

In [ ]:
x="John"
#is the same as
x='John'

Example 6

In [ ]:
a=4
A="Sally"
#A will not overwrite a